.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 99.26px;
    background: #FCF9F2 ;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.25);
    padding-top: 21.48px;
    padding-right: 32.37px;
}

.header_logo img{
    width: 250px;
    height: 50px;
    margin-left: 69.63px;
}

.header_perfil{
    display: flex;
}


.header_perfil span{
    display: block;
    color: #000;
    text-align: right;
    font-size: 19.92px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 21.58px;
}

.header_perfil p{
    color: var(--Azul1, #002395);
    text-align: right;
    font-size: 16.6px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 21.58px;
}

.foto_perfil{
    width: 68.82px;
    height: 68.06px;
    margin-right: 27.39px;
}

.saida{
    padding-top: 2.5%;
}

.saida img{
    height: 41.5px;
    width: 41.5px;
}