.row{
    border-radius: 15px 15px 15px 15px;
    background-color: #D6D4CE;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
}

@media print{
    .row{
        box-shadow: 0px 0px 0px 0px;
    }

    .row td{
        border-bottom: 1px solid #000

    }
    .row td:first-child{
        border-radius: 0px 0px 0px 0px;
        border-bottom: 1px solid #000

    }

    .row td:last-child{
        border-radius: 0px 0px 0px 0px;
        border-bottom: 1px solid #000
    }
}

.row :first-child{
    border-radius: 15px 0px 0px 15px;

}

.row td{
    color: #000;
    text-align: left;
    font-size: 13.28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 12.45px;
    padding-right: 39.84px;
}

