
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.search-container {
  align-items: center;
  width: 670px;
}

.filter-buttons-container{
  display: flex;
  gap: 15px;
}

.search-input {
  position: relative;
  flex-grow: 1;
  height: 60px;
  margin-bottom: 15px;
}

.search-input input {
  width: 100%;
  height: 100%;
  padding-left: 70px;
  border: 1px solid #D5D2CC;
  border-radius: 15px;
  background-color: #DDDBD4;
  font-weight: 300;
  font-size: 21px;
  color: black;
  margin-bottom: 15px;
}

.search-icon {
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
}

.filter-button {
  width: 100%;
  position: relative;
}

.filter-button button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
  padding: 8px 17px;
  cursor: pointer;
  border: 1px solid #D5D2CC;
  border-radius: 15px;
  background-color: #DDDBD4;
  height: 60px;
  width: 100%;
  font-weight: 300;
  font-size: 21px;
} 

.down-arrow{
  width: 15px;
  height: 15px; 
}

/* Estilo da lista de filtros */
.filter-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #E6E3DC;
  border: 1px solid #D5D2CC;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 8px 0;
  margin: 0;
  z-index: 1000;
  font-weight: 300;
  font-size: 21px;
  color: black;
}

.filter-dropdown li {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 17px;
  background-color: #DDDBD4;
}

.filter-dropdown li:hover {
  background-color: #B1AFAA;
}
