
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

thead {
  background-color: #F3F1EE;
}

th {
  color: var(--text-azul-escuro, #0D91F3);
  text-align: left;
  font-weight: 700;
  font-size: 16.6px;
  white-space: nowrap;
  padding-right: 5px;
}

th:last-child {
  text-align: center;
  margin-right: 0.83px;
}

@media (max-width: 637.44px) {
  th {
    padding: 8.3px;
    font-size: 11.62px;
  }
}
