@font-face {
    font-family: 'LT Wave';
    src: url('./theme/assets/fonts/LTWave-Light.otf');
  }
  
*{
    font-family: 'LT Wave';
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
